.nav{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    background-color: white;
    width: 95%;
    height: 80px;
    border-radius: 13px;
    z-index: 99;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%);

}
.nav-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:13px;
    list-style: none;
    align-items:center;
}
.item{
    margin-left:5px;
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;

}
.nav-link{
    /* margin-left: 10px; */
    padding: 0 5px;
    display: flex;
    justify-content: center;

    background-color: rgb(168, 201, 228);
}
.nav-link:hover ,.item:hover {
    background-color:#01959a ;
    color: #fff;
    border-radius: 4px ;
    transition: all 0.3s ease-in-out;
}
button {
    padding: 0.5rem 1rem ;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out ;
}
button:hover{
    background-color: #151516;
    color: #fff;
}
.menu-icon{
    display: none;
}
@media screen and (max-width : 850px) {
    .menu-icon{
        display: block;
        font-size: 1.3rem;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgb(225, 198, 91);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -105%;
        opacity: 1;
        align-items: stretch;
        padding: 150px 20px 30px 20px ;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
    }
    .nav-menu.active{
        left: 0;
        z-index: -1;
        
    }
    .nav-link{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;

    }
    .nav-link:hover{
        background-color: #01959a;
        transition: none;
    }
    button{
        padding: 2rem ;
        white-space: nowrap;
        margin: 20px auto 0px;
        width: 70%;
        border-radius: 0rem;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out ;
        background-color: #01959a;
    }
    
}